fastapi==0.115.8
uvicorn==0.34.0
python-multipart==0.0.20
opencv-python==4.11.0.86
psycopg2-binary==2.9.10
pydantic==2.10.6
starlette==0.45.3
torch==2.6.0
ultralytics==8.3.75
ultralytics-thop==2.0.14
numpy==2.1.1
anyio==4.8.0
